*{
	font-family: Century Gothic;
	font-size: 24px;
}
body{
	background-color: #02a0a0;
}

.form_frame{
	background-color:#fff;
	border: solid 2px #000;	
	border-radius: 40px;
	padding: 2.5%;
	width: 60%;
	margin: auto;
}

	#header h2{
		font-size: 34px;
		text-align:center;
		padding:35px 0px;
	}

	input{
		font-size:20px;	
		padding: 5px 10px;
		margin:4px 0px;
		border-radius: 5px;
	}
	
	
	#head {
		margin:0 150px;
		text-align:center;
	}

		#head img{
			display:hidden;
		}
	
	.bar{
		margin:20px;
		padding:10px;
	}
		#bar{
			width: 80%;
			border: 2px solid black;
			background-color:black;
			margin:auto;
		}

	[class*="field_"]{
		margin: 50px 20px 80px;
	}

		#lName{
			width: 30%;
		} 
		#fName, #eMail{
			width: 69%;
		}
		#mName,#month{
			width: 25%;
		}

		#mobNo{
			width: 40%;
		}
		#age, #day{
			width:15%;
		}
		#height, #weight{
			width:10%;
		}
		
		#year{
			width:20%;
		}
		#natl, #rlg{
			width: 30%;
		}
		#address, #pob, #lng{
			width: 100%;
			height: 40px;
		}
		#momName, #dadName{
			width: 100%;
		}

		.field_3 input[type=number]{
			text-align:right;
		}

	#btn{
		position:relative;
		padding: 0 5% 10%;
	}
		#submit{
			position: absolute;
			padding:10px 20px;
			border-radius: 15px;
			margin:auto;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background-color: #ddf;
		}